* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

.full {
  padding: 30px;
  padding-right: 30px;
}

.we {
  position: absolute;
  top: 240px;
  left: 180px;
}
span {
  font-size: 60px;
  letter-spacing: 16px;
}

p {
  font-family: "Josefin Sans", sans-serif;
  color: #d89494;
  font-weight: bold;
  line-height: 24px;
}

.logo {
  position: absolute;
  top: 90px;
  left: 180px;
}

.hero {
  position: absolute;
  top: 30px;
  display: inline-block;
  height: 100vh;
}

.bg {
  position: relative;
  float: left;
  display: inline-block;
  height: 100vh;
}

.em {
  position: absolute;
  top: 570px;
  left: 180px;
  width: 410px;
  height: 50px;
  border-radius: 30px;
  padding-left: 30px;
  font-weight: bold;
  border-color: #e2b0ba;
}
